<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"></h1>
  </ion-header-bar>
  <ion-content class="login-content">
    <div class="row row-center" style="min-height: 25vh;">
      <div class="col col-60 col-offset-20">
        <img src="./img/splash1.png"/ width="100%;">
      </div>
    </div>
    <div class="row row-top" style="min-height: 50vh;">
      <div class="col col-80 col-offset-10 text-center">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="user.email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="user.password">
          </label>
        </div>

        <button class="button button-block button-positive" ng-click="logIn()">
          <i class="icon ion-log-in padding-right"></i>Sign in
        </button>
        <small>
          <a style="text-decoration: none;" href="https://atnight.com/about/general">Problems signing in</a>
        </small>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
