<ion-view view-title="Atnight - SliderBox">

    <ion-content scroll="false">

        <ion-slide-box style="height: 95vh;">
            <ion-slide>
                <img ng-src="https://i.pinimg.com/originals/b9/6a/6c/b96a6cd593ab990e6227df6640c2ed44.jpg" width="100%">
            </ion-slide>
            <ion-slide>
                <img ng-src="https://i.pinimg.com/originals/b9/6a/6c/b96a6cd593ab990e6227df6640c2ed44.jpg" width="100%">
            </ion-slide>
        </ion-slide-box>

    </ion-content>

</ion-view>